.ef-account .ef-account-sidebar {
	float: left;
	width: 20%;
	margin-right: 0%;
}
.ef-account .ef-account-form {
  float: right;
  display: inline-block;
  padding: 3% 0%;
  margin: auto;
  text-align: center;
  width: 80%;
}
.ef-account .ef-account-form .ef-account-form-title {
  margin-top: -1%;
  margin-bottom: 2%;
}
.ef-account .ef-account-form .common-button {
  margin-top: 3%;
  margin-bottom: 0%;
}
.ef-account-form-input {
	width: 75%;
	text-align: left;
	margin-left: 16%;
}
.ef-account-form-input input:not([type]), .ef-account-form-input input[type="text"], .ef-account-form-input input[type="password"], .ef-account-form-input input[type="email"]  {
  float: right;
  width: 50%;
  margin-right: 10%;
}
.menu-section {
  display: inline-block;
}
.account-btn {
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
}

.account-btn-cont {
    display: inline-block;
}