<div class="ef-account-form">
  <h1 class="ef-account-form-title">Change Password</h1>
  {{#form-for password submit=(action 'updatePassword') as |f|}}
    <div class="ef-account-form-input">
      {{f.password-field "currentPassword" label="Current Password" }}
      <br>
      {{f.password-field "newPassword" label="New Password" }}
      <br>
      {{f.password-field "newPasswordConfirmation" label="New Password Confirmation" }}
    </div>
    {{f.submit "Update Password" class="common-button"}}
  {{/form-for}}
</div>
