<h4>Update Password</h4>
{{#form-for password submit=(action 'updatePassword') class="password-update-form" as |f|}}
	{{f.password-field "password" label="Password" placeholder="Enter Password"}}
	{{f.password-field "passwordConfirmation" label="Password Confirmation" placeholder="Confirm Password"}}
	{{f.submit "Update Password" class="common-button"}}
{{/form-for}}
