{{#if session.isAuthenticated}}
	<div class="ef-account">
		<div class="ef-account-sidebar">
			{{#account-menu}}{{/account-menu}}
		</div>
		{{outlet}}
	</div>
{{else}}
	You need to be signed in to view your account info.
{{/if}}
